<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>World Population</title>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='style/app.css') }}"> 
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center"> 
          <h1>World Population Analyzer</h1>
        </div>
      </div>


      <div class="row" id="top-bar">
        <div class="col-md-2" id="year">
          <h5>Select Year:</h5>
          <select id="selYear" onchange="optionChangedYear(this.value)"></select>
        </div>

        <div class="col-md-2" id="country">
          <h5>Select Country:</h5>
          <select id="selCountry" onchange="optionChanged(this.value)"></select>
        </div>

        <div class="col-md-8 "  id="country-metadata"></div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row" id="chart-area1">    
      <div class="col-md-6">
        <div id="population-line"></div>
      </div>

      <div class="col-md-6">
        <div id="population-stack"></div>
      </div>
    </div>

    <div class="row" id="map-area">
      <h3 id="population-map">World Population Map</h3><br>
      <h4 id="population-indicator">Population:
        <span id="red"><b>Over 100 million</b></span>
        <span id="pink"><b> | Over 50 million</b></span>
        <span id="orange"><b> | Over 20 million</b></span>
        <span id="purple"><b> | Over 5 million</b></span>
        <span id="green"><b> | Over 0.5 million</b></span>
        <span id="lightgreen"><b> | Over 0.1 million</b></span>
        <span id="blue"><b> | Under 0.1 million</b></span>
      </h4><br>
      <div class="col-md-12" id="map"></div>
    </div>

    <footer>
      <p><b>Data Source: <a href="https://population.un.org/wpp/Download/Standard/Population/">United Nation, Population Division</a></b></p>
      <p>World population as of December 2015</p>
    </footer>
  </div>


  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script src="{{ url_for('static', filename='js/logic1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/logic2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/logic3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
